.about_container{
    min-height: 100vh;
    max-width: 800px;
    margin: 5rem auto 2rem auto;
    padding: 2rem;
}
.title{
    font-family: var(--font-poppins);
    width: fit-content;
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--custom-brown);
    margin-bottom: 2rem;
    border-bottom: 4px solid var(--custom-brown);
}
.title span{
    color: var(--custom-dark-green);
}
.content_text span{
    color: var(--custom-brown);
}
.components_main_container{
    margin-top: 3rem;
}
.components_container{
    display: flex;
    justify-content: space-between;
    
}
.component{
    max-width: 350px;
}
.component_title{
    font-family: var(--font-poppins);
    font-weight: 600;
    margin-bottom: 0.5rem;
}