.about_container{
    min-height: 100vh;
    max-width: 800px;
    margin: 5rem auto 2rem auto;
    padding: 2rem;
}
.title{
    font-family: var(--font-poppins);
    width: fit-content;
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--custom-brown);
    margin-bottom: 2rem;
    border-bottom: 4px solid var(--custom-brown);
}
.title span{
    color: var(--custom-dark-green);
}
.content_text span{
    color: var(--custom-brown);
}
.components_main_container{
    margin-top: 3rem;
}
.components_title{
    font-size: 1.8rem;
    font-family: var(--font-poppins);
    width: fit-content;
    font-weight: 600;
    margin-bottom: 2rem;
    border-bottom: 3px solid var(--custom-dark-green);
    text-align: right;
}
.components_container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:1rem;

}
.component{
    max-width: 350px;
    min-width: 300px;
    border-radius: 1rem;
}
.component_content{
    padding: 0.5rem;
    color: white;
}
.component_title{
    font-family: var(--font-poppins);
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    padding-right: 2rem;
    padding-bottom: 0.3rem;
    width: fit-content;
    border-bottom: 2px solid;
}
.component_img{
    width: 100%;
    height:150px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}