.details_form_container{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* width: 100%; */
}
.details_form{
    display: flex;
    flex-direction: column;
}
.title_container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.response_container{
    color: var(--custom-brown);
    max-width: 500px;
}

.form_title, .title_text{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 5px solid var(--custom-brown);
}
.main_content_container{
    border: 1px solid;
    padding: 1rem;
    border-radius: 1rem;
}
.content_container{
    margin-bottom: 1rem;
}
.content_title{
    font-size: 1.2rem;
    font-weight: 600;
    padding-bottom: 0.2rem;
    border-bottom: 3px solid;
    width: fit-content;
    color: var(--custom-dark-green);
    
}
.content{
    padding: 0.5rem;
}
.title_text{
    border-bottom: none;
    margin-top: 2rem;
}
.title_icon{
    width: auto;
    height: auto;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: var(--custom-dark-green);
}
.radio_container{
    border-bottom: 1px solid var(--custom-brown);
    margin-bottom: 1rem;
}
.form_buttons{
    display: flex;
    justify-content: end;
    gap: 1.5rem;
}
.form_buttons button:hover{
    transform: translateY(-2px);
    box-shadow: 0 10px 30px #ff8c4558;
}
.close_btn{
    color: var(--custom-brown);
    border: 1px solid;
    background: transparent;
}
