.footer_container {
    background: linear-gradient(135deg, var(--custom-brown), var(--custom-dark-green));
    /* position: sticky;
    bottom: 0;
    z-index: 1; */
    padding: 4rem;
}

.footer {
    display: flex;
    color: white;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: start;
}

.footer_logo_name {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.app_title {
    font-size: 1.5rem;
    font-weight: 600;
}

.app_title span {
    font-size: 1rem;
    font-weight: normal;
}
.nav_links .title{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}
.footer_links{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.footer_link{
    position: relative;
    transition: all 0.4s ease-in-out;
    width: fit-content;
}
.footer_link::after{
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    height: 2px;
    width: 0%;
    background-color: white;
    transition: width 0.25s ease;
}
.footer_link:hover::after{
    width: 100%;
}
.footer_link:hover{
    letter-spacing: 0.05rem;

}