.home_container {
    z-index: 5;
    background-color: white;
}

.intro_main_container {
    background: linear-gradient(135deg, var(--custom-dark-green), var(--custom-brown));
    /* padding-top: 10rem; */
    padding-bottom: 5rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro_container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;

    padding: 1rem;
}

.intro_text {
    font-size: 2.5rem;
    color: white;

}

.intro_text span {
    font-weight: 600;
}

.check_components_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
    gap: 1rem;
}

.check_container {
    margin-top: 2rem;
    background-color: white;
    color: var(--custom-brown);
    border-radius: 1.5rem;
    padding: 2rem;
    max-width: 1100px;
}

.check_title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.stepper_container {
    /* border: 1px solid; */
    border-radius: 1rem;
    padding: 0.2rem;
    margin-top: 2rem;
}

.check_btn {
    margin-top: 1rem;
    padding: 8px 20px;
    border-radius: 1.5rem;
    color: white;
    font-weight: 600;
    border: none;
    background: linear-gradient(135deg, var(--custom-brown), var(--custom-dark-green));

    cursor: pointer;
    transition: all 0.3s ease;
}

.check_components {
    display: flex;
    max-width: 400px;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
}

.check_component {
    align-items: center;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    width: 190px;
    padding: 0.5rem;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
}

.check_component:hover {
    cursor: pointer;

}

.check_component_title {
    font-size: 1rem;
    font-weight: 600;
}

.check_btn:hover,
.check_component:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 30px #ff8c4558;
}


.how_container {
    margin-top: 7rem;
    padding: 1rem;
    color: var(--custom-brown);
    margin-bottom: 7rem;
}

.how_container .container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

.title_text {
    font-size: 2.5rem;
    font-weight: bold;
    border-bottom: 4px solid var(--custom-brown);
    width: 250px;
    margin-bottom: 1rem;
}

.how_components_container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.how_component {
    background-color: var(--custom-brown);
    max-width: 400px;
    min-width: 380px;
    color: white;
    padding: 1rem 0.8rem;
    border-radius: 1rem;
    margin: 1rem;
    box-shadow: var(--box-shadow);
}

.transparent {
    background-color: var(--custom-dark-green);
    color: white;
}

.how_content_title {
    display: flex;
    gap: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.6rem;
    width: fit-content;
    border-bottom: 1px solid;
}


.how_component ul {
    list-style: "- ";
    margin-left: 0.5rem;

}

.how_component span {
    font-weight: 600;
}

.icon {
    font-size: 1.5rem;
}

@media screen and (max-width:800px) {
    .intro_image {
        display: none;
    }
}