@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --title-font: var(--font-poppins);
  --foreground: #171717;
  --custom-dark-green: #006400;
  --custom-dark-green-a: #FF006400;
  --custom-sea-green: #2E8B57;
  --custom-sea-green-a: #FF2E8B57;
  --custom-light-green: #2E8B5737;
  --custom-light-green-rgb: rgb(46, 139, 87, 0.216);
  --custom-brown: #8B4513;
  --custom-brown-a: #FF8B4513;
  --custom-light-brown: #8B45131B;
  --custom-light-brown-rgb: rgb(139, 69, 19, 0.106);
  --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --brown-shadow: 0px 4px 4px #ff8c4527;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  min-height: 100vh;
  color: var(--custom-dark-green);
  font-family: Arial, Helvetica, sans-serif;
}

.title-text {
  font-family: var(--font-poppins);
  font-size: 2.5rem;
}

.gradient-text {
  background: linear-gradient(200deg, var(--custom-brown), var(--custom-dark-green));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  margin-top: 3rem;
  padding: 8px 20px;
  border-radius: 1.5rem;
  color: white;
  font-weight: 600;
  border: none;
  background: linear-gradient(135deg, var(--custom-brown), var(--custom-dark-green));

  cursor: pointer;
  transition: all 0.3s ease;
}
.main-container{
  max-width: 1120px;
  margin: 0 auto;
}
.btn:hover{
  transform: translateY(-2px);
    box-shadow: 0 10px 30px #ff8c4558;
}
.error-text{
  color: #d32f2f;
}